/* Variables */
:root {
  --font-family: "Roboto", sans-serif;
  --color-primary: #1f2937;
  --color-secondary: #f9faf8;
  --color-tertiary: #e5e7eb;
  --color-quaternary: #3882f6;
  --color-quinary: #1f2937;
  --color-senary: #f9faf8;
  --color-septenary: #e5e7eb;
}

/* Reset */

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  color: #e5e7eb;
  font-family: var(--font-family);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
}
/* Header */

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  backdrop-filter: blur(15px);
}

.header-inner {
  max-width: 120rem;
  margin: 0 auto;
  /* padding: 0 1.6rem; */
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.4rem;
}

@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}
